* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  font-size: 400;
}

.main_box {
  background-image: url("photo.jpg");
  height: 100vh;
  background-size: cover;
}

.btn_one {
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  transition: all 0.3s linear;
}

.sidebar_menu {
  position: fixed;
  height: 100vh;
  width: 300px;
  left: -300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 60px;
  height: 60px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
  color: white;
  position: absolute;
  text-decoration: none;
  left: 50px;
  font-size: 20px;
  font-weight: 500;
}

.sidebar_menu .menu {
  color: white;
  position: absolute;
  width: 100%;
  top: 80px;
}

.sidebar_menu .btn_two {
  color: grey;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 270px;
  transition: all 0.2s linear;
}

.sidebar_menu .menu li {
  margin-top: 10px;
  padding: 10px 20px;
}

.sidebar_menu .menu li i, a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.sidebar_menu .menu li i {
  padding-right: 8px;
}

.sidebar_menu .social_media {
  position: absolute;
  left: 25%;
  bottom: 30px;
}

.sidebar_menu .social_media i {
  color: white;
  opacity: 0.5;
  padding: 0.5px;
}

#check {
  display: none;
}
.sidebar_menu .menu li:hover {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.btn_one i:hover {
  font-size: 40px;
}
.btn_two i:hover {
  font-size: 30px;
  cursor: pointer;
}
.sidebar_menu .social_media i:hover {
  opacity: 1;
  transform: scale(1.2);
}
#check:checked ~ .sidebar_menu {
  left: 0px;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}